# Pandas

## Series

Holds information  by a named  index.It's similar  to a  numpy array.

In [1]:
import numpy as np
import pandas as pd

In [4]:
labels = ["a", "b", "c"]
mylist = [10,  2, 30]
          
arr = np.array(mylist)
arr

array([10,  2, 30])

In [5]:
d =  {"a":10,"b":20,  "c":30}
d

{'a': 10, 'b': 20, 'c': 30}

In [6]:
pd.Series(data= mylist)

0    10
1     2
2    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1     2
2    30
dtype: int64

In [8]:
pd.Series(data=arr,  index=labels)

a    10
b     2
c    30
dtype: int64

In [17]:
for  i in pd.Series(data =  [10, "a",  4.4]):
    print (type(i))

<class 'int'>
<class 'str'>
<class 'float'>

In [27]:
ser1  = pd.Series(data =  [1, 20,  30, 45],
            index = ["usa", "germany", "rusia", "Japan"])
ser1

usa         1
germany    20
rusia      30
Japan      45
dtype: int64

In [28]:
for i in  range(ser1.shape[0]):
    print( ser1[i])

1
20
30
45

In [29]:
for i in  ser1.index:
    print (ser1[i])

1
20
30
45

In [30]:
ser2 = pd.Series([100,200,400,300],
                 index=["usa", "germany", "italy", "japan"] )
ser2

usa        100
germany    200
italy      400
japan      300
dtype: int64

### Be carefoul  with index

Pandas takes in account indexes to make  operations:

In [31]:
ser1 + ser2

Japan        NaN
germany    220.0
italy        NaN
japan        NaN
rusia        NaN
usa        101.0
dtype: float64

#### Note that the  type of data changed to float in the above example. That is because pandas only can store null  data (NaN) as float.

In [32]:
ser1 + ser1

usa         2
germany    40
rusia      60
Japan      90
dtype: int64